article li { em { color: mix($text-color-light, $text-color); }}
article{line-height: 1.38em;}
body > header h1 {
  font-family: "Michroma", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  .line-numbers {
    font-size: 0.73em;
    line-height: 1.45em;
  }
}

pre {
  line-height: 1.46em;
  font-size: 0.73em;
}


body > header {
  font-size: .7em;
  hgroup {
    text-align: center;
    position: relative;
    padding: .5em 0;
    margin: 0 auto;
  }
  h1 {
    text-shadow: rgba(#000, .8) 0 0 8px;
    font-size: 3.4em;
    line-height: .6em;
    position: relative;
    margin: 0;
    a:hover { color: #fff; }
    &:before {
      content: "";
      position: absolute; top: -.05em; left: -7.8em;
      height: image-height('logo.png');
      @include replace-text('logo.png');
    }
  }
  h2 {
    font-size: 1.5em;
    position: relative; top: .2em;
    font-style:italic
  }
  @media only screen and (min-width: 360px) {
    font-size: .7em;
    h1 { padding-bottom: 0;
      &:before {
        position: absolute; top: -.08em; left: -1.75em;
        width: 1.6em;
        height: 1.6em;
        @include background-size(100%);
      }
    }
    h2 {
      margin: 0 0 .3em;
      @extend .sans;
      font-size: 1.2em;
      color: $subtitle-color;
      position: relative; left: -1.6em; top: 0;
      text-shadow: $header-bg 0 2px 1px;
    }
  }
  @media only screen and (min-width: 480px) {
    font-size: .92em;
    h2 { top: .2em; }
  }
  @media only screen and (min-width: 768px) {
    font-size: 1em;
  }
  @media only screen and (min-width: 990px) {
    font-size: 1.1em;
    h1:before {
      width: image-width('logo.png');
      height: image-height('logo.png');
    }
    h2 { top: .35em; }
  }
}